@use 'styles/mixins/utilities';
@use 'styles/mixins/mediaQueries';

.Section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  gap: 2rem;
  margin: 1rem;

  @include mediaQueries.for-desktop-new {
    @include utilities.section(50vh);
    flex-direction: row;
    gap: 10rem;
    margin: 0rem clamp(10rem,15vw,15rem);
  }

  &__imagenizq {
    padding: clamp(.5rem,5vw,5rem);
    width:  25rem;
    @include mediaQueries.for-desktop-new {
      padding: 0rem;
      width: clamp(20rem,25vw,25rem);
    }
  }

  &__texto {
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    font-size: clamp(.8rem,1vw,1rem);
    gap: 1rem;

    h4 {
      font-size: clamp(1.2rem,1.4vw,1.4rem);
    }

    .Icon {
      display: flex;
      align-items: center;
      line-height: 2rem;
      gap: .5rem;
  
      &__icon {
        max-width: min-content;
      }
    }

    .Izq {
      text-align: left;
    }

    @include mediaQueries.for-desktop-new {
      width: 50rem
    }
  }
}

.Section3 {
  @include utilities.background-image(
  url('/pages/home/4.jpg')
  );
  background-attachment: fixed;

  &__fondo {
    width: 100%;
    height: 25vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: clamp(1.13rem,3vw,2.75rem);
    @include mediaQueries.for-desktop-new {
      height: 50vh;
    }

    h1 {
      padding: 0rem 1rem;
    }
  }
}

.Section4 {
  padding-bottom: clamp(2rem,4vw,4rem);
}

.Section5{
  @include utilities.background-image(
  url('/pages/home/cuarto.jpg')
  );
  background-attachment: fixed;

  .Fondo {
    width:100%;
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    gap: 1rem;

    &__frase {
      font-size: clamp(1rem,2vw,2rem);
      margin: 1rem;
    }
  }
}

.Section6 {
  display: flex;
  flex-direction: column;
  gap: clamp(3rem,4vw,4rem);

  .title {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: clamp(1.875rem,2.5vw,2.5rem);
    color: #444;
    font-weight: bold;
    gap: 1rem;
    padding-top: 1.5em;
    font-family: 'Lucida Calligraphy';
  
    .Line {
      height: 0.1rem;
      width: 15%;
      background-color: #444;
    }
  }

  .Contacto{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 1rem;
    @include mediaQueries.for-desktop-new {
      flex-direction: row;
      justify-content: center;
    }

    .Container{
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: clamp(1rem,1.3vw,1.3rem);
      gap: 2.5rem;
  
      &__iconsize{
        font-size: 1.5rem;
      }
  
      @include mediaQueries.for-desktop-new {
        width: 20%;
      }

      &__altura {
        line-height: clamp(.7rem,1vw,1rem);
      }
    }
  }

  .Mapa{
    display: grid;

    @include mediaQueries.for-desktop-new {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr 1fr;
    }

    &__mapa{
      grid-column-start: 2;
      grid-column-end: 3;
    }
  }
}

.Section7 {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 3rem;
  padding: 2.5rem 1rem;

  @include mediaQueries.for-desktop-new {
    padding: clamp(3rem,5vw,5rem) clamp(10rem,24vw,24rem);
  }

  .Container1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: justify;

    h1 {
      font-size: 2.25rem;
      font-family: 'Raleway', sans-serif;
      color: #222;
    }

    p {
      font-size: 0.875rem;
      color: #444;
    }
  }

  .Container2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #444;

    h1 {
      padding-bottom: .5rem;
    }

    p {
      font-size: 0.875rem;

      span {
        color: #5b0000;
        font-weight: 700;
      }
    }
  }
}

.Video{
  padding: 3rem 3rem;
  @media (min-width: 550px) {
    padding: 3rem clamp(5rem,10vw,10rem);
  }
  @media (min-width: 960px) {
    padding: 3rem clamp(20rem,35vw,35rem);
  }
  @media (min-width: 1626px) {
    padding: 3rem clamp(30rem,45vw,45rem);
  }
}